<!DOCTYPE html>
<html>
<body>
​
<h1>Wybierz walutę</h1>
​
<form action="" method="POST">
  <label for="Waluta">Waluta</label>
  <select name="Waluta" id="Waluta">
    4.4630: <option value="4.4630">Dolar amerykański</option>
    3.0804: <option value="3.0804">Dolar australijski</option>
    3.4615: <option value="3.4615">Dolar kanadyjski</option>
    4.6486: <option value="4.6486">Euro</option>
    4.6703: <option value="4.6703">Frank Szwajcarski</option>
    </form>
    <form action=""></form>
    <label for="pay">Ilość:</label>
    <input name="pay"/>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>